.venv/
venv/
env/
__pycache__/
*.py[cod]
.env
*.db
*.db-journal
*.sqlite3
eksport/
data/
docs/
.git/
.gitignore
.idea/
.vscode/
*.log
README.md
Dockerfile
.dockerignore
docker-compose.yml
backups/
deploy/
.gitattributes
